

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>主页</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/polls/index">首页</a>
		    </div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!-- <li><a href="#">学生</a></li> -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">学生 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="signup">选课</a></li>
							<li><a href="lookup">状态</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">教师 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="addcourse">添加课程</a></li>
							<li><a href="getcourses">查看课程</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">教务 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/polls/addprocess">添加流程</a></li>
							<li><a href="processmanage">管理流程</a></li>
							<li><a href="/polls/draw">开始抽签</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">{{ user }}</a></li>
					<li><a href="logout">登出</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="jumbotron">
		<div class="container">
			{% bootstrap_messages %}
			<div class="col-md-6 col-md-offset-3">
				<h1>欢迎，{{user}}</h1>
				<p>访问时间: {{time}}</p>
				<p>访问ip: {{ip}}</p>
				<p>选课系统demo</p>
			</div>
		</div>
	</div>


</body>

</html>