{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>登陆</title>
</head>

<body>


<div class="jumbotron">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6">
            <img src="https://iaaa.pku.edu.cn/iaaa/resources/images/pku_view_5.jpg" alt="logo" />
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">登录</div>
                    <div class="panel-body">
                        {% bootstrap_messages %}
                        <form action="login" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form uf %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "ok" %} 登录
                            </button>
                        {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<br>
<!-- <a href="http://127.0.0.1:8000/online/regist/">注册</a> -->
</body>
</html>